* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #2d3640;
    color: #fdfbfb;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}

.cv-container   {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 100px;

}

.container-sobreMi  {
    margin-top:80px;
    margin-bottom: 80px;
}

.container-nombre   {
    margin-bottom: 80px;
}

.container-contacto {
    margin-top: 60px;
}
.inicio {
     display: flex; 
     justify-content: space-evenly;
     align-items: center;
}

.fotoperfil {
    height: 25rem;
    
}



.relative   {
    position: relative;
}

.nombre {
    
    font-size: 6rem;
    font-weight: 700;
}

.verde  {
    color:#2cd680;
}

.verde2 {
    color:#2cd680;
    font-size: 2rem;
}

.sobreMi    {
    font-weight: 500;
    font-size: 2rem;
    padding-bottom: 20px;

}

.subtitulo {
border-left: 0.4rem solid #2cd680;
padding-left: 1.3rem;
font-weight:400;
font-size: 3rem;

}

.subtitulo2 {
 
    padding: 1.3rem;
    font-weight:500;
    font-size: 3rem;
    
    }

.iconos {
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
    
}

.iconosContacto {
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
    
}

.padding-margin   {
    padding-left: 30px;
    margin-left: 60px;
}

.padding-left1   {
    padding-left: 90px;
}

.border {
    border: 6px solid grey;
    border-radius: 10px;
    padding: 60px 30px 20px 30px ;
    margin-top: 150px;
    margin-bottom: 150px;
    position: relative;
   
}

.absolute {
    position: absolute;
    left: 125px;
    top: -70px;
}

.titulo-estudio {
    font-size: 2rem;
    font-weight: 500
}

.estudios-flex  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contactos  {
    display: flex;
    
    align-items: center;
}

.texto-iconos   {
    text-align: center;
}

.item  {
    padding-left: 15px;
    padding-right: 15px;
    height: 250px;
    width: 580px; 
}

.iconos-flex    {
    margin-top: 90px;
    display: flex;
    justify-content: space-evenly;
}

.padding-texto  {
    padding-left: 20px;
}

.botonEnglish   {
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
   
    font-weight: 700;
    font-size: 1.5rem;

    margin-top: 20px;
    margin-right: 20px;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 0;   box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    background-color: #24ba6f;
}

.botonEnglish:hover {
    transform: translateY(2px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    background-color: #268d5a;
  }



@media (max-width: 1600px) {
      .iconos   {
        height: 50px;
      }
      .padding-texto    {
        font-size: 1rem;
      }
}


@media (max-width: 1100px ) {
      *{
        
        font-size: 1rem;
       
      }

      .fotoperfil   {
        height: 15rem;
      }
      
      .presentacion {
        font-size: 1.5rem;
      }

      .iconos-flex  {
        flex-direction: column;
      }

      .padding-left1   {
        padding-left: 0px;
      }

      .estudios-flex    {
        justify-content: start;
      }

      .item {
        height: auto;
        width: auto;
        padding-bottom: 15px;
      }
}

@media (max-width: 660px )
{

.fotoperfil {
    height: 11rem;

}

.nombre {
    font-size: 2.6rem;
}

.subtitulo  {
    font-size: 1.4rem;
}

.padding-margin{
    margin-left: 8px;
    padding-left: 10px;
}

}

.cv-container   {
    margin-right: 10px;
    margin-left: 10px;
margin-top: 90px;
}

.presentacion   {
    font-size: 1.16rem;
}

.container-nombre   {
    margin-bottom: 0px;
}

.container-sobreMi  {
    margin-top: 25px;
    margin-bottom: 0px ;
}

.div-contacto   {
    height: 100px;
    width: 260px;
}

.absolute   {
    left: 15px;
}